.hello {
  height: 100px;
  border: {
    width: 10px;
    color: black;
    style: solid;
  }
  background: url('./img/ufo.png') darkolivegreen repeat;
  background-size: 30px;
  color: white;
  text-align: center;
  font-size: 24px;
}